body {
  background: #fff;
	color: #00000;
	border: #026564;
	border: #033239;
}

h1 {
    text-align:center;
    color: white;
    font-family: "Menlo";
}  

p {
    color: white;
    font-family: "Menlo";
}


/* cursors*/
body {
  cursor: url('http://www.rw-designer.com/cursor-extern.php?id=2144') , auto;
  }
  
  
a {

	cursor: url('http://www.rw-designer.com/cursor-extern.php?id=2144'), auto;
	}
	
	a:hover {
	
	cursor: url('http://www.rw-designer.com/cursor-extern.php?id=2144'), auto;
	}
	a:active {
	
	cursor: url('http://www.rw-designer.com/cursor-extern.php?id=2144'), auto;
	}
	
  a:visited {
    color:blue;
	}





