body {
  background: #fff;
	color: #00000;
	border: #026564;
	border: #033239;
}

h1 {
    text-align:center;
    color: white;
    font-family: "Futura";
	src: url(fonts/Futura\ Condensed\ Medium.otf)
}  

p {
    color: white;
    font-family: "Roboto";
	src: url(fonts/Futura\ Light\ Oblique.otf)
}


/* cursors*/
body {
  cursor: url(earthcursor/another-cool-set.crs) , auto;
  }
  
  
a {

	cursor: url(earthcursor/another-cool-set.crs), auto;
	}
	
	a:hover {
	
	cursor: url(earthcursor/another-cool-set.crs), auto;
	}
	a:active {
	
	cursor: url(earthcursor/another-cool-set.crs), auto;
	}
	
  a:visited {
    color:blue;
	}





